.login-block {
  margin-left: 140px;
  display: flex;
  align-items: center;

  h3 {
    margin: 0 8px;
    width: 102px;
    text-align: end;
  }
}

.material-icons {
  color: #ffff;
  background-color: #2f80ed;
  border-radius: 5px;
  width: 24px;
}
