.login-block {
  margin-left: 140px;
  display: flex;
  align-items: center;

  .login-value {
    margin: 0 8px;
    width: 102px;
    text-align: end;
    cursor: pointer;
  }

  .login-block_button {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .login-block_button:hover {
    color: #929292;
  }
}

.material-icons {
  color: #ffff;
  background-color: #2f80ed;
  border-radius: 5px;
  width: 24px;
}
