.card-title {
  margin: 21px 31px 0 9px;
  max-height: 70px;
  overflow: hidden;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
  color: #4F4F4F;
}
