<div class="card">
  <app-video-thumbnail [response]="searchResults"></app-video-thumbnail>
  <div class="statistic">
    <app-views-count [response]="searchResults"></app-views-count>
    <app-likes-count [response]="searchResults"></app-likes-count>
    <app-dislikes-count [response]="searchResults"></app-dislikes-count>
    <app-comments-count [response]="searchResults"></app-comments-count>
  </div>
  <app-video-title [response]="searchResults"></app-video-title>
  <app-more-button></app-more-button>
  <div [style.backgroundColor]="underlining()" class="card_underlining"></div>
</div>
