.filter-input {
  display: flex;

  p {
    margin: 0 0 0 0;
    font-size: 12px;
    height: 14px;
    color: #2f80ed;
  }

  input {
    margin-left: 10px;
    width: 149px;
    height: 13px;
  }
}
